@model WebApplication.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <partial name="_Carousel" model="Model.Carousels" />
    @*or*@
    @*@await Html.PartialAsync("_Carousel", Model);*@
</div>

<hr />
<div>
    <h3>Books</h3>
</div>
@foreach (Book item in Model.Books)
{ 
    <div>
        <h3>@item.Title</h3>
    </div>
    <div>
        <i>@item.Author</i>
    </div>
    <div>
        <span>@item.PublishDate</span>
    </div>
    <div>
        <strong>@item.Price</strong>
    </div>
    <div>
        <span>@item.Description</span>
    </div>
}